{% load markdown_deux_tags %}

<div class=" post-container card card-block">
    <div class="media pt-3 pl-3 pb-1">
        <a href='/users/{{post.user.get_username}}'>
            <img class="mr-3 rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
        </a>
        <div class="media-body">
            <p style="margin-top: -2px; margin-left:5px;">
                <a style="text-decoration: none; color:#000" href='/users/{{post.user.get_username}}'>{{ post.user.get_full_name  }}</a>
                <br>
            <small>{{ post.created }}</small></p>

        </div>
    </div>





    <div class="embed-responsive " style="margin:2px">


            {{post.body|markdown}}

    </div>


    <p class="ml-2 mt-0 mb-2">
      Comentarios
    </p>
</div>


